

:root {
  --snitap-sun:#FFCD1E; 
  --snitap-sky-mid: #06B6D4; 
  --snitap-sky-light: #67E8F9; 
  --snitap-joy-mid: #DB2777; 
  --snitap-joy-light: #F47286; 
  --snitap-leaf-mid: #16A34A; 
  --text:#000000;
  --highlights: #000000;
  --background:#FAFAFA;

  --ff-base:"Montserrat", sans-serif;

  --text-sm:0.875rem;
  --text-base:1rem;
  --text-lg:2.5rem;
  --text-xl:4rem;
}


html, button{
  font:500 var(--text-base)/1.5 var(--ff-base);
}

h1,h2{
  font-family: 'Syne', sans-serif;
}

h1{
  font-size: var(--text-xl);
  line-height: 1.25;
}

h2{
  font-size: var(--text-lg);
  line-height: 1.2;
}

a{
  text-decoration: none;
  color:inherit;
}

.animacao{
  
  width: 90%;
  padding: 2.5rem 8rem;
  margin-inline:auto;
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap: 80px;
  overflow: hidden;

  h1{
    max-width: 40rem;
  }

  h1 div{
    display: inline-block;
    overflow: hidden;
    height: 5rem;
    width: min-content;
    vertical-align: bottom;
  }

  h1 span:nth-child(1){
    color: var(--snitap-sky-mid);
    
  }
  h1 span:nth-child(2){
    color: var(--snitap-joy-mid);

  }
  h1 span:nth-child(3){
    color: var(--snitap-leaf-mid);
  }

  h1 span:nth-child(4){
    color: var(--snitap-sky-mid);
  }

  h1 span{
    animation: slide-up 8s infinite ;
    display: block;
  }

  & > div:nth-child(2){
    display: block;
    width: 100%;
    max-width: 30.5rem;
    height: 30.5rem;

    & .content{
      height: 100%;
      width: 100%;
      position: relative;
    }

    & img{
      position: absolute;
      width: 100%;
    }

    & img[src*="Ellipse"]{
      width: 94%;
      top: 3%;
      left: 3%;
      transform: translatex(200%);
      animation: slidein 3s 200ms ease forwards;
    }

    & img[src*="file"]{
     z-index: 1;
     transform: translatex(200%);
     transition: 3s;
      animation: slidein 3s ease forwards;
      width: 600px;
    }
    & img[src*="file"]:hover{
      scale: 1.1;
    }
 

    & img[src*="Stars 1"]{
      max-width: 5.5rem;
      top: 30%;
      z-index: 0;
      opacity: 0;
      transform: translateX(400%);
      animation: slidein 2s 800ms ease forwards, appear 100ms 800ms both;
    }

    & img[src*="Stars 2"]{
      max-width: 2.5rem;
      bottom:35%;
      right: 0px;
      z-index: 0;

      transform: translateX(400%);
      animation: slidein 2.2s 800ms ease forwards, appear 100ms 800ms both;
     }
  }
}

@keyframes slidein{
  100%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-20px);
  }

}

@keyframes appear{
  100%{
    opacity: 1;
  }

}

@keyframes slide-up{
 0%,22%{
  transform: translatey(0);
 }
  23%{
  transform: translatey(calc(-5rem - 15px));
 }

 25%{
  transform: translatey(calc(-5rem + 15px));
 }

 27%{
  transform: translatey(calc(-5rem - 5px));
 }

 29%{
  transform: translatey(calc(-5rem + 5px));
 }

 33%,55%{
  transform: translatey(-5rem);
 }

 56%{
  transform: translatey(calc(-10rem - 15px));
 }

 58%{
  transform: translatey(calc(-10rem + 15px));
 }

 60%{
  transform: translatey(calc(-10rem - 5px));
 }

 62%{
  transform: translatey(calc(-10rem + 5px));
 }


 66%,88%{
  transform: translatey(-10rem);
 }

 89%{
  transform: translatey(calc(-15rem - 15px));
 }

 91%{
  transform: translatey(calc(-15rem + 15px));
 }

 93%{
  transform: translatey(calc(-15rem - 5px));
 }

 95%{
  transform: translatey(calc(-15rem + 5px));
 }

 100%{
   transform: translatey(-15rem);
 }
}

.buttons{
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.button{
  display: flex;
  align-items: center;
  gap: .75rem;
  transition: scale 350ms;

  
  border-radius: 5rem;

  &.buy{
    padding: 1.5rem 3rem;
    background-color:var(--snitap-sun);
  }

  &.play span{
    padding: 1.5rem;
    border-radius: 50%;
  }

  & .shadow{
    box-shadow: 0 2px 5px rgba(0 0 0 / .1),
     0 9px 9px rgba(0 0 0 / .09),
     0 20px 12px rgba(0 0 0 / .05);
  }

  &:hover{
    scale: 1.1;
  }
}

@media (width < 768px) {
  .animacao{
    width: 100%;
    display: block;
    padding: 2rem 0px;
    
  }
  img[src*="file"]{
    z-index: 1;
    transform: translatex(200%);
    animation: slidein 3s ease forwards;
    width: 400px  !important;
  }
  .animacao .button{
    margin: 0px auto;
  }
  h1{
    text-align: center;
    
  }
}
