/* Seção de Cards */
.secao-cards {
    background-color: rgb(240, 240, 240);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 200px;
}
.tamanho-cards{
    padding-top: 20px;
    height:500px;
}
.secao-cards h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    margin-top: 150px;
}
.secao-cards p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 40px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/* Carrossel de Cards */
.carrosel-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    padding: 10px;
}

/* Card */
.card {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px !important;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
    width: 300px !important;
    margin-bottom: 30px;
    padding: 0px  !important;
    margin: 0px !important;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

/* Imagem do Card */
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

/* Corpo do Card */
.body {
    padding: 20px;
}

.title-card {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.body div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.body p {
    font-size: 1rem;
    color: #555;
}

.body .price {
    font-weight: bold;
    color: #007bff;
}

.button-card {
    width: fit-content; 
    margin: 0px  10px 10px;
    padding: 6px 25px;
    background-color: #28a745; 
    color: #fff; 
    border-radius: 6px; 
    font-size: 0.8rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out; 
    cursor: pointer; 
    border: none;
}

.button-card:hover {
    background-color: #218838;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); 
    transform: translateY(-3px);
}

.button-card:active {
    background-color: #1e7e34;
    transform: translateY(1px); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


/* Responsividade */
@media (width < 768px) {
   .card{
        width: 150px !important;
   }
   .tamanho-cards{
        height: 280px !important;
   }
   .title-card{
        font-size: 0.8rem;
   }
   .button-card{
     font-size: 0.4rem;
     padding: 4px 15px;
   }
   .body p{
     font-size:0.6rem;
   }
   .body div{
     margin-bottom: 5px;
   }
   .secao-cards h2 {
    font-size: 1rem;
    }

   .body{
     padding: 5px 20px;
   }
}