
h1,h2{
  font-family: 'Syne', sans-serif;
}

h1{
  font-size:4rem ;
  line-height: 1.25;
  text-align: center;
}

h2{
  font-size: 2rem;
  line-height: 1.2;
}

a{
  text-decoration: none;
  color:inherit;
}

.animacao{
  width: 100% !important;
  margin: 0px !important;
  display: none;
  align-items:center;
  background-color: rgba(56, 136, 108, 0.053);
  gap: 80px;
  overflow: hidden;

  h1{
    max-width: 40rem;
  }

  h1 div{
    display: inline-block;
    overflow: hidden;
    height: 5rem;
    width: min-content;
    vertical-align: bottom;
  }

  h1 span:nth-child(1){
    color: #06B6D4;
    
    
  }
  h1 span:nth-child(2){
    color:#DB2777;

  }
  h1 span:nth-child(3){
    color: #16A34A;
  }

  h1 span:nth-child(4){
    color: #06B6D4;
  }

  h1 span{
    animation: slide-up 8s infinite ;
    display: block;
  }


  & > div:nth-child(2){
    display: block;
    width: 100%;
    max-width: 30.5rem;
    height: 30.5rem;

    & .content{
      height: 100%;
      width: 100%;
      position: relative;
    }

    & img{
      position: absolute;
      width: 100%;
    }
    & img[src*="imagemOnibusAnimacao"]{
     z-index: 1;
      transition: 3s;
      width: 200px  !important;  
      animation: animacao-bus 2s infinite;
    }
  }
}
@keyframes animacao-bus{
  0%{
    scale: 1;
  }
  50%{
    scale: 1.05;
  }
  100%{
    scale: 1;
  }
}

@keyframes slide-up{
 0%,22%{
  transform: translatey(0);
 }
  23%{
  transform: translatey(calc(-5rem - 15px));
 }

 25%{
  transform: translatey(calc(-5rem + 15px));
 }

 27%{
  transform: translatey(calc(-5rem - 5px));
 }

 29%{
  transform: translatey(calc(-5rem + 5px));
 }

 33%,55%{
  transform: translatey(-5rem);
 }

 56%{
  transform: translatey(calc(-10rem - 15px));
 }

 58%{
  transform: translatey(calc(-10rem + 15px));
 }

 60%{
  transform: translatey(calc(-10rem - 5px));
 }

 62%{
  transform: translatey(calc(-10rem + 5px));
 }


 66%,88%{
  transform: translatey(-10rem);
 }

 89%{
  transform: translatey(calc(-15rem - 15px));
 }

 91%{
  transform: translatey(calc(-15rem + 15px));
 }

 93%{
  transform: translatey(calc(-15rem - 5px));
 }

 95%{
  transform: translatey(calc(-15rem + 5px));
 }

 100%{
   transform: translatey(-15rem);
 }
}

.buttons{
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.button{
  display: flex;
  align-items: center;
  gap: .75rem;
  transition: scale 350ms;
  
  border-radius: 5rem;

  &.buy{
    padding: 1.5rem 3rem;
    background-color:#00ee40;
  }
  & .shadow{
    box-shadow: 0 2px 5px rgba(0 0 0 / .1),
     0 9px 9px rgba(0 0 0 / .09),
     0 20px 12px rgba(0 0 0 / .05);
  }

  &:hover{
    scale: 1.1;
  }
}

@media (width < 768px) {
  .animacao{
    width: 95%;
    display: block;
    padding: 5rem 0px 0px;
    margin-block: 4rem 8rem;

    & > div:nth-child(2){
      display: block;
      width: 100%;
      max-width: 30.5rem;
      height: 20.5rem;
    }
  }
  img[src*="imagemOnibusAnimacao"]{
    width:380px  !important;
  }
  .animacao .button{
    margin: 0px auto;
  }
  h1{
    text-align: center;
    
  }
}
